body {
	background: #008080;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(119, 119, 119);

	display: none;
}

li {
	float: left;
}

.link:link,
.link:visited {
	color: blue;
}

.link:hover {
	color: red;
}

.link:checked {
	color: purple;
}

.window {
	width: 90%;
	margin: 10px;
}

.show-window {
	display: none;
}

.main-grid {
	display: grid;
	gap: 10px;
	grid-template-columns: 50px 1fr;
	grid-template-rows: repeat(6, 80px) 1fr 20px;
	margin: 20px;
}

.icon-grid {
	grid-column: 1 / 2;
}

.icon {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	height: 50%;
	width: 100%;
	cursor: pointer;
}

.iconame {
	text-align: center;
  margin: 0 0 15px 0;
  font-weight: 100;
}

.txt {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
}

.txn {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.9rem;
}

#space-window {
	grid-row: 1 / 1;
	grid-column: 2 / 3;
	padding: 0 0 0 40px;
}

#icopic-profile {
	background-image: url('/assets/user.png');
}

#icopic-about {
	background-image: url('/assets/folder.png');
}

#icopic-experience {
	background-image: url('/assets/monitor.png');
}

#icopic-education {
	background-image: url('/assets/note.png');
}

#icopic-projects {
	background-image: url('/assets/program.png');
}

#icopic-portofolio {
	background-image: url('/assets/paint.png');
}

#taskbar {
  display: none;
}

#window-about {
	display: block;
}

/* Inside the windows */
#window-about {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

#about-pic {
	align-self: flex-start;
	height: 80%;
	background-image: url("/assets/Jair\ Avatar.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#design {
	background-image: url("/assets/designs.png");
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 500px;
	width: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
}